In [113]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                  Country  2000

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [47]:
t = titles.title
len(t)

216537

### What are the earliest two films listed in the titles dataframe?

In [56]:
t = titles
t.sort_values('year').head(2)

                                                 title  year
165551                                      Miss Jerry  1894
116176  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [68]:
t = titles
t = t[t.title == 'Hamlet']
len(t)

19

### How many movies are titled "North by Northwest"?

In [70]:
t = titles
t = t[t.title == 'North by Northwest']
len(t)

1

### When was the first movie titled "Hamlet" made?

In [84]:
t = titles
t = t[t.title == 'Hamlet'].sort_values('year').head(1)
t

        title  year
43617  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [85]:
t = titles
t = t[t.title == 'Treasure Island'].sort_values('year')
t

                  title  year
191885  Treasure Island  1918
47853   Treasure Island  1920
193425  Treasure Island  1934
90426   Treasure Island  1950
55631   Treasure Island  1972
103906  Treasure Island  1973
191300  Treasure Island  1985
167063  Treasure Island  1999

### How many movies were made in the year 1950?

In [86]:
t = titles
t = t[t.year == 1950]
len(t)

1037

### How many movies were made in the year 1960?

In [88]:
t = titles
t = t[t.year == 1960]
len(t)

1476

### How many movies were made from 1950 through 1959?

In [104]:
t = titles
t = t[(t.year >= 1950) & (t.year < 1960)].sort_values('year')
len(t)

12197

### In what years has a movie titled "Batman" been released?

In [105]:
t = titles
t = t[t.title == 'Batman']
t

        title  year
52250  Batman  1989
69638  Batman  1943

### How many roles were there in the movie "Inception"?

In [108]:
c = cast
c = c[c.title == 'Inception'].sort_values('n')
len(c)

75

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [123]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

24

### But how many roles in the movie "Inception" did receive an "n" value?

In [126]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [127]:
c = cast
c = c[c.title == 'North by Northwest'].sort_values('n')
c = c[c.n.notnull()]
c

,title,year,name,type,character,n
789568,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3150433,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1319736,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2835733,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
322095,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2742072,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1536035,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1154420,North by Northwest,1959,Martin Landau,actor,Leonard,8
2214182,North by Northwest,1959,Adam Williams,actor,Valerian,9
1640544,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
602998,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2077139,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
420055,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1366775,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
185128,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1253982,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [130]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 1972)].sort_values('n')
c

,title,year,name,type,character,n
1545047,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
294810,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
337756,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1327177,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2458449,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1312188,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [131]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 2007)].sort_values('n')
c

          title  year                 name     type          character   n
294811   Sleuth  2007        Michael Caine    actor             Andrew   1
1171232  Sleuth  2007             Jude Law    actor               Milo   2
1635645  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
233918   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
337757   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2458448  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3022053  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [134]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [136]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [138]:
c = cast
c = c[c.character == 'Hamlet']
len(c)

84

### How many people have played an "Ophelia"?

In [139]:
c = cast
c = c[c.character == 'Hamlet']
len(c)

84

### How many people have played a role called "The Dude"?

In [142]:
c = cast
c = c[c.character == 'The Dude']
len(c)

17

### How many people have played a role called "The Stranger"?

In [143]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

192

### How many roles has Sidney Poitier played throughout his career?

In [145]:
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [146]:
c = cast
c = c[c.name == 'Judi Dench']
len(c)

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [149]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year >= 1940) & (c.year < 1950) & (c.n == 2)]
c.sort_values('year')

                   title  year        name   type    character  n
789565  My Favorite Wife  1940  Cary Grant  actor         Nick  2
789575    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [150]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year >= 1940) & (c.year < 1950) & (c.n == 1)]
c.sort_values('year')

,title,year,name,type,character,n
789590,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
789547,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
789592,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
789580,Suspicion,1941,Cary Grant,actor,Johnnie,1
789594,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
789571,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
789538,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
789563,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
789564,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
789572,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
789530,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
789567,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
789566,Night and Day,1946,Cary Grant,actor,Cole Porter,1
789569,Notorious,1946,Cary Grant,actor,Devlin,1
789586,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
789587,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
789562,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
789542,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
789551,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [152]:
c = cast
c = c[(c.year >= 1950) & (c.year < 1960) & (c.type == 'actor')]
len(c)

150803

### How many roles were avilable for actresses in the 1950s?

In [154]:
c = cast
c = c[(c.year >= 1950) & (c.year < 1960) & (c.type == 'actress')]
len(c)

54838

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [155]:
c = cast
c = c[(c.year <= 1980) & (c.n == 1)]
len(c)

62245

### How many non-leading roles were available through from the beginning of film history through 1980?

In [156]:
c = cast
c = c[(c.year <= 1980) & (c.n != 1)]
len(c)

1065822

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [157]:
c = cast
c = c[(c.year <= 1980) & (c.n.isnull())]
len(c)

424732

In [5]:
titles

                                     title  year
0                           The Rising Son  1990
1                        Ashes of Kukulcan  2016
2                  The Thousand Plane Raid  1969
3                         Crucea de piatra  1993
4                                  Country  2000
5                               Gaiking II  2011
6           The Fresh Air Will Do You Good  2008
7                       Alex in Wonderland  1970
8                           Women's Prison  1955
9                   Do Outro Lado do Mundo  2008
10                         Severny variant  1974
11                           Slave by Name  2017
12                           Charlie's Ear  1992
13                    Insaaf Main Karoonga  1985
14                Poka Makorer Ghar Bosoti  1996
15                               Hi, Buddy  1943
16                         Los siete locos  1973
17                              Panic Room  2002
18                   Io sono un autarchico  1976
19                     Mr. Justice Raffles  1921
20                              Mahapurush  1965
21                        Maa Durga Shakti  1999
22                                  Patria  1917
23                          Passenger Side  2009
24             Ang pumatay ng dahil sa iyo  1989
25                    Conflict of Interest  1993
26                           The Syndicate  2011
27            Suzanne, professeur de flirt  1916
28                            Arrive Alive  1990
29                   Tera Mera Saath Rahen  2001
...                                    ...   ...
216507                       Fred & Vinnie  2011
216508                         The Outcast  1984
216509          Diary of a Mad Black Woman  2005
216510              The Second Coming (IV)  2014
216511              The Minister of Chance  2016
216512                          Dan xin pu  1980
216513                             Druzina  2016
216514       The Legend of Kate Kensington  2015
216515                   Time of the Comet  2008
216516                           Agreement  1980
216517                 Monsters University  2013
216518               This Killing Business  2013
216519  Berlina - Eine Reise ins Ungewisse  1991
216520             Die Herrgottsgrenadiere  1932
216521             Meglio baciare un cobra  1986
216522                              Kvaska  2007
216523                        Counterpoint  1967
216524                      Den sidste dag  2004
216525          Take This Job and Shove It  1981
216526              Le temps de l'aventure  2013
216527               Cargaison clandestine  1947
216528         Clara no es nombre de mujer  2012
216529                             Benzina  2001
216530                  Kasaysayan ng lahi  1973
216531                      Hu tu nu si ji  1982
216532               Nobody Waved Good-bye  1964
216533                               E yue  2005
216534                        Lakota Girls  2015
216535                      Kroniki domowe  1997
216536                        The Sting II  1983

[216537 rows x 2 columns]

In [6]:
len(titles)

216537

In [15]:
h = titles.head()

In [10]:
titles.tail()

                        title  year
216532  Nobody Waved Good-bye  1964
216533                  E yue  2005
216534           Lakota Girls  2015
216535         Kroniki domowe  1997
216536           The Sting II  1983

In [23]:
h['year'] // 10 * 10

0    1990
1    2010
2    1960
3    1990
4    2000
Name: year, dtype: int64

In [28]:
h.year > 1985

0     True
1     True
2    False
3     True
4     True
Name: year, dtype: bool

In [33]:
h[(h.year < 1980) | (h.year <= 1990)]

                     title  year
0           The Rising Son  1990
2  The Thousand Plane Raid  1969

In [38]:
t = titles
t[t.title == 'Macbeth'].sort('year').tail()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

          title  year
10808   Macbeth  2013
144904  Macbeth  2014
56619   Macbeth  2015
137776  Macbeth  2016
157792  Macbeth  2017

In [42]:
t.year.sort_values()

165551    1894
116176    1899
19203     1900
88609     1900
12641     1900
170918    1900
194796    1903
63622     1905
30432     1905
154793    1906
26256     1906
180177    1906
135247    1906
147898    1906
119084    1907
59314     1907
201869    1907
192051    1907
86817     1908
161138    1908
103513    1908
47987     1908
36130     1908
214611    1908
124050    1909
10628     1909
59282     1909
72646     1909
44288     1909
73694     1909
          ...
180893    2020
142436    2020
86053     2020
163387    2020
200769    2020
184705    2020
89014     2020
71235     2021
156232    2021
172995    2021
1690      2021
99642     2021
128369    2021
208998    2021
38732     2021
201230    2021
32316     2021
24727     2022
104036    2022
193301    2022
205255    2022
32030     2022
131981    2022
26577     2022
129214    2022
129711    2023
190953    2023
38921     2023
44293     2024
200324    2024
Name: year, dtype: int64

In [44]:
h = cast.head()
h = h[h.n.notnull()]
h

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3